<html ng-app="app">
  <head>
    <title>Simple demo application</title>
    <script src="../../bower/angular/angular.js"></script>
    <script src="../../dist/angular-contentful.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <h1>Directives demo</h1>
    <p>This simple demo uses the following Contentful configuration:</p>
    <ul>
      <li>Space: cfexampleapi</li>
      <li>Access token: b4c0n73n7fu1</li>
    </ul>
    <h2>Get all dogs</h2>
    <ul contentful-entries="'content_type=dog&limit=10'">
      <li ng-repeat="dog in $contentfulEntries.items">
        {{ dog.fields.name }}
      </li>
    </ul>
    <h2>Get one entry</h2>
    <pre contentful-entry="'6KntaYXaHSyIw8M6eo26OK'">{{ $contentfulEntry | json }}</pre>
    <h2>Get one entry and resolve links</h2>
    <pre contentful-entry="'sys.id=6KntaYXaHSyIw8M6eo26OK&include=3'">{{ $contentfulEntry | json }}</pre>
    <h2>Get all entries</h2>
    <section contentful-entries="">
      <p>{{ $contentfulEntries.total }} items found:</p>
      <ul>
        <li ng-repeat="entry in $contentfulEntries.items">
          <pre>{{ entry.sys.id }}</pre>
        </li>
      </ul>
    </section>
  </body>
</html>
